维阿里_NR 看好_VV 欧文_NR
新华社_NR 伦敦_NR １２月_NT ３０日_NT 电_NN （_PU 记者_NN 周杰_NR ）_PU
自古_AD 英雄_NN 识_VV 英雄_NN ，_PU 在_P 足球_NN 明星_NN 维阿里_NR 的_DEG 眼_NN 里_LC ，_PU 只有_AD 神奇_JJ 小子_NN 欧文_NR 可以_VV 成为_VV 超级_JJ 巨星_NN 。_PU
“_PU 光头_NN ”_PU 维阿里_NR 现在_NT 担任_VV 英格兰_NR 超级_JJ 联赛_NN 俱乐部_NN 切尔西队_NR 的_DEG 教练_NN 。_PU
他_PN 说_VV ：_PU “_PU 欧文_NR 是_VC 整_DT 个_M 英格兰_NR 最_AD 令_VV 人_NN 激动_VV 、_PU 最_AD 出色_VA 的_DEC 运动员_NN 。_PU ”_PU
维阿里_NR 也_AD 是_VC 属于_VV 少年得志_VV 。_PU